{% extends "base.html" %}

{% block content %}

<div class="row container-fluid my-5 mx-0 p-0">
    <div class="col-12 d-flex justify-content-center align-items-center my-5 p-0">
        <h1>Add Task</h1>
    </div>
</div>
<div class="row container m-auto d-flex justify-content-center align-items-center">
    <div class="col-12 col-lg-8">
        <div class="card add-task-card">
            <div class="card-body d-flex flex-column justify-content-around align-items-center p-5">
                <form class="d-flex flex-column justify-content-center align-items-center container-fluid" method="POST"
                    action="{{ url_for('add_task') }}">
                    <!-- Task Name -->
                    <div class="row container-fluid">
                        <div class="col-12">
                            <div class="input-group mb-3">
                                <label for="task_name" class="input-group-text" id="inputGroup-sizing-default">
                                    Task Name
                                </label>
                                <input id="task_name" name="task_name" type="text"
                                    class="form-control input-group-inputs" aria-label="Sizing example input"
                                    aria-describedby="inputGroup-sizing-default" minlength="3" maxlength="25" required>
                            </div>
                        </div>
                    </div>
                    <!-- Task Description -->
                    <div class="row container-fluid">
                        <div class="col-12">
                            <div class="input-group mb-3">
                                <label for="task_description" class="input-group-text" id="inputGroup-sizing-default">
                                    Task Description
                                </label>
                                <textarea id="task_description" name="task_description" type="text"
                                    class="form-control input-group-inputs" aria-label="Sizing example input"
                                    aria-describedby="inputGroup-sizing-default" minlength="5" maxlength="200" rows="5"
                                    required>
                                </textarea>
                            </div>
                        </div>
                    </div>
                    <!-- Due Date -->
                    <div class="row container-fluid">
                        <div class="col-12">
                            <div class="input-group mb-3">
                                <label for="due_date" class="input-group-text" id="inputGroup-sizing-default">
                                    Due Date
                                </label>
                                <input id="due_date" name="due_date" type="date" class="form-control input-group-inputs"
                                    aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"
                                    minlength="3" maxlength="25" required>
                            </div>
                        </div>
                    </div>
                    <!-- Is Urgent -->
                    <div class="row container-fluid">
                        <div class="col-12">
                            <div class="input-group mb-3">
                                <label for="is_urgent" class="input-group-text input-group-inputs"
                                    id="inputGroup-sizing-default">
                                    Is Urgent
                                </label>
                                <div
                                    class="form-check form-switch mx-5 d-flex justify-content-center align-items-center">
                                    <input class="form-check-input form-control input-group-inputs" type="checkbox"
                                        role="switch" id="task_name" name="task_name">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Category Id -->
                    <div class="row container-fluid">
                        <div class="col-12">
                            <div class="input-group mb-3">
                                <label for="category_id" class="input-group-text">
                                    Choose Category
                                </label>
                                <select id="category_id" name="category_id" class="form-select input-group-inputs"
                                    required>
                                    <option value="" disabled selected></option>
                                    {% for category in categories %}
                                    <option value="{{ category.id }}">{{ category.category_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mt-5 d-flex justify-content-center align-items-center">
                        <button class="btn btn-primary">
                            Add Task <i class="fas fa-plus"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>





{% endblock %}