{% extends "base.html" %}

{% block content %}

<div class="row container-fluid my-5 mx-0 p-0">
    <div class="col-12 d-flex justify-content-center align-items-center my-5 p-0">
        <h1>Add Category</h1>
    </div>
</div>
<div class="row container m-auto d-flex justify-content-center align-items-center">
    <div class="col-12 col-lg-8">
        <div class="card add-task-card">
            <div class="card-body d-flex flex-column justify-content-around align-items-center p-5">
                    <form class="d-flex flex-column justify-content-center align-items-center container-fluid" method="POST" action="{{ url_for('add_category') }}">
                    <div class="input-group mb-3 container-fluid">
                        <label for="category_name" class="input-group-text" id="inputGroup-sizing-default">Category Name</label>
                        <input id="category_name" name="category_name" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" minlength="3" maxlength="25" required>
                    </div>
                    <div class="input-group mt-5 d-flex justify-content-center align-items-center">
                        <button class="btn btn-primary">
                            Add Category <i class="fas fa-plus"></i>
                        </button>
                    </div>
                    </form>   
                </div>
            </div>
 
    </div>
</div>



{% endblock %}